<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" ><a routerLink="/login-form">Log In</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/calendar">Calendar</a></li>
      </ul>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <router-outlet></router-outlet>

      <!--<button class="btn btn-primary" (click)="onSave">Save</button>-->

      <!--<li role="presentation" routerLinkActive="active">-->
      <!--<a routerLink="/registration-form">Registraiton</a>-->
     <!--</li>>-->

    </div>
  </div>
</div>













